<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Admin Login</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>


<body class="auth-body">


<div class="auth-container">

    <div class="auth-card admin-card">

        <h1>SocialMedia</h1>

        <h2>Admin Login</h2>

        <p>Platform Management</p>


        <form id="adminLoginForm">

            <input
                type="text"
                id="adminUsername"
                placeholder="Admin Username"
                required>


            <input
                type="password"
                id="adminPassword"
                placeholder="Admin Password"
                required>


            <button type="submit">
                Admin Login
            </button>

        </form>


        <p id="adminLoginMessage"></p>


        <p>
            <a href="{{ url_for('login') }}">
                User Login
            </a>
        </p>


    </div>

</div>


<script src="{{ url_for('static', filename='js/script.js') }}">
</script>

</body>

</html>